@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

a {
  text-decoration: none;
}

:root {
  --primary-color: #b41818;
}

body {
    /* background-image: url("/money.jpg");
    background-size: 100%; */
    /* background-color: #B91C1C; */
    font-family: "Montserrat", sans-serif;
    min-width: 100vw;
}

div {
    background-color: #ce5656;
    border-color: black;
    border-width: 2rem;
    border-radius: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.heading {
    color: var(--primary-color);
}

.description {
    font-size: larger;
    margin: 1rem;
}

.input-label {
    display: block;
    font-size: large;
    font-weight: 600;
}

#bill-amount {
    text-align: center;
    font-size: 14px;
    padding: 1rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    max-width: 200px;
    margin-left: 32%;
}

#cash-given {
    text-align: center;
    font-size: 14px;
    padding: 1rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    max-width: 200px;
    margin-left: 32%;
}

#error-message {
    display: block;
    font-size: larger;
    margin: 1rem 0 0;
}

#check-button {
    background: var(--primary-color);
    border: none;
    width: 20%;
    margin-left: 50%;
    text-align: center;
    color: rgb(233, 217, 217);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    margin: auto;
}

div {
    text-align: center;
    margin: auto;
    border-color: black;
    border: 2px solid black;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}

.change-table caption {
    margin: 1rem auto;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.change-table {
    width: 80%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
}

th,td {
    border: 2px solid #B91C1C;
    border-collapse: collapse;
    padding: 0.5rem;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem
}

.footer {
    background-color: var(--primary-color);
    padding: 1.5rem 1rem;
    text-align: center;
    color: white;
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .list-item-inline:hover {
    font-weight: bold;
    background: rgba(232, 235, 233, 0.7);
    border-radius: 6px;
}

footer h1 {
}